/* regole generiche */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nerko One', cursive;
}

body {background-color: #7FE6EB;}


/* titolo */
h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 0px #818181;;
}

/* regole area di gioco */
main {
  margin: 30px 20%;
}

.row {
  margin-bottom: 10px;
  text-align: center;
}

.card {
  display: inline-block;
  background-color: blue;
  height: 140px; min-width: 100px; max-width: calc((100% / 4) - 20px );
  margin: 1%;
  border-radius: 10px;
}
