/* regole generiche */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Nerko One', cursive;
}

body {
  background-color: #add8e6;
  padding: 30px 20%;
}

/* header */
header {
  padding-bottom: 30px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 8px #000000;
}

/* regole area di gioco */
.row {
  margin-bottom: 20px;
  text-align: center;
}

/* regole card */
.card {
  display: inline-block;
  background-color: white;
  min-width: 110px; width: 20%;
  margin: 0 1%;
  padding: 15px 0;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background-image: url(../img/pattern.png);
  background-size: contain;
  -webkit-box-shadow: 5px 5px 7px -6px #000000;
  box-shadow: 5px 5px 7px -6px #000000;
}

/* regole contenuto card (img + p) */
.card > img {
  width: 100%;}

.card > p {
  color: #e61986;
  font-size: 22px;
  text-shadow: 1px 1px 0px #818181;
}

.card > * {
  visibility: hidden;
}

#fissa > * {
  visibility: visible;
}

/* regole contenuto card:hover (img + p) */
.card:hover, #fissa {
  background-image: none;
}

.card >p:hover {
  color: #cf7b31;
}

.card:hover * {
  visibility: visible;
}

/* footer */
footer {
  text-align: center
}
